﻿@page "/accounts"

@using Frontend.Data
@using Frontend.ApiAccessors
@using System.Diagnostics
@inject AccountsService AccountsService
@inject RobberyService RobberyService; 

<h1>Konten</h1>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button disabled="@RobberyService.RobberyInProgress" @onclick=StartRobbery> Start a Robbery !</button>
    @if (LastRobbed != null)
    {
        <span> You've robbed @LastRobbed !</span>
    }
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Balance</th>
                @if (RobberyService.RobberyInProgress)
                {
                    <th> Raub aus! </th>
                    <th> Versteck die Beute! </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.Owner</td>
                    <td>@account.Balance</td>
                    @if (RobberyService.RobberyInProgress)
                    {
                        <td> <button @onclick=@( e => RobAccount(account.Id))> Raub aus! </button></td>
                        <td> <button @onclick=@( e => StashLoot(account.Id))> Pack die Beute Weg! </button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AccountDTO[] accounts;
    private double? LastRobbed = null;

    public static ActivitySource aSource = new ActivitySource(nameof(Accounts), "1.0.0");

    protected override async Task OnInitializedAsync()
    {
        accounts = await AccountsService.GetAccountsAsync();
    }

    public async Task StartRobbery()
    {
        await RobberyService.StartRobbery();
    }

    public async Task RobAccount(int accountNumber)
    {
        using (Activity robActivity = aSource.StartActivity("RobAccount", ActivityKind.Internal))
        {
            robActivity?.AddTag("OpGroup", "Frontend.Robbery");
            Console.WriteLine($"Account of Person {accountNumber} is getting robbed!");
            var amount = await RobberyService.RobAccount(accountNumber);
            LastRobbed = amount;
            accounts = await AccountsService.GetAccountsAsync();
            robActivity?.Stop();
        }

    }

    public async Task StashLoot(int accountNumber)
    {
        using (Activity? robActivity = aSource.StartActivity("StashLoot", ActivityKind.Internal))
        {
            robActivity?.AddTag("OpGroup", "Frontend.Robbery");
            await RobberyService.StashLootAndEndRobbery(accountNumber);
            accounts = await AccountsService.GetAccountsAsync();
            robActivity?.Stop();
        }
    }

}
